.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card-outline {
  border-radius: 30px;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  left: 30px;
  width: 1050px;
  height: 420px;
  border: 1px dashed rgb(231,231,231);
  background-color: rgb(240,240,240);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.car-icon {
   margin-right: 10px;
   margin-left: 10px;
   height: 40px;
}
.ride-picture {
   margin-top: 20px;
   margin-left: 50px;
   max-width: 100%;
   max-height: 100%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.ride-description {
   position: absolute;
   top: 120px;
   right: 240px;
   width: 400px;
   height: 200px;
   overflow: scroll;
}

.ride-book {
   position: absolute;
   top: 200px;
   right: 100px;
   width: 40px;
   height: 40px;
}
.ride-waitlist {
  position: absolute;
  top: 30px;
  right: 80px;
  width: 40px;
  height: 40px;
}

.ride-seat {
  position: absolute;
  top: 350px;
  right: 0px;
  width: 150px;
  height: 40px;
  font-size: 18px;
}

.page-header {
  margin-top: 0px;
  position: relative;
  left: 30px;
  width: 1050px;
  height: 50px;
}
.rider-card-outline {
  border-radius: 30px;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  left: 30px;
  width: 1350px;
  height: 100px;
  border: 1px dashed rgb(231,231,231);
  background-color: rgb(240,240,240);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ride-cancel {
  position: absolute;
  top: 28px;
  right: 190px;
  width: 40px;
  height: 40px;
}
.ride-edit {
  position: absolute;
  top: 28px;
  right: 260px;
  width: 40px;
  height: 40px;
}
