.navbar {
    text-align:left;
}
.navbar ul {
    display:inline-block;
}
.navbar li {
    float:left;
    border: 1px solid #e7e7e7;
}
.navbar li + li {
    margin-left:30px;
}

.navbar-brand > img {
  height: 75px;
  display: inline-block;
  margin: auto 0px;
}
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
}
.navbar-user-icon {
  height: 40px;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
}
@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}
